.header {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 20px;
}

.header li {
    margin-right: 20px;
    font-size: 18px;
    list-style-type: none;
}

.footer {
    margin-top: auto;
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 20px;
}

.footer li {
    margin-right: 20px;
    font-size: 18px;
    list-style-type: none;
}